<div class="container">
    <h1>Los Avengers</h1>
    <img src="/assets/img/Avengers.jpg" class="d-block w-100" width="1000" height="650" alt="Los Avengers">
    <p></p>
    <p>
        Los Avengers, también conocidos como Los Vengadores, son un grupo de superhéroes creados por Marvel Comics. Este equipo fue formado por personajes icónicos como Iron Man, Thor, Hulk, Black Widow, Hawkeye y Captain America.
    </p>
    <p>
        A lo largo de los años, han trabajado juntos para proteger al mundo de amenazas intergalácticas y supervillanos. Sus aventuras han sido adaptadas a películas de gran éxito, convirtiéndolos en un fenómeno cultural mundial.
    </p>
    <p>
        A medida que el tiempo pasaba, los Avengers enfrentaron a villanos cada vez más poderosos. Entre ellos destacan Loki, el hermano de Thor, y Thanos, el Titán Loco, quien buscaba reunir las seis Gemas del Infinito para eliminar la mitad de toda la vida
        en el universo.
    </p>
    <p>
        A lo largo de sus enfrentamientos, los Avengers también han experimentado cambios en su alineación. Nuevos héroes, como Spider-Man, Black Panther, Doctor Strange y Captain Marvel, se unieron al equipo en diferentes momentos para ayudar en la lucha contra
        el mal.
    </p>
    <p>
        Los Avengers han demostrado ser un ejemplo de valor, sacrificio y trabajo en equipo. A pesar de las dificultades, sus miembros siguen unidos para proteger a la humanidad y garantizar la paz y la justicia en todo el mundo.
    </p>
</div>