<div class="container">
    <div class="main-content">
        <div class="photo-section">
            <img class="profile-photo" src="/assets/img/perfil.jpg" alt="Tu Nombre">
        </div>
        <div class="info-section">
            <h2>Juan David Cabrera Jaller</h2>
            <p>Desarrolador</p>
            <hr>
            <h3>Contacto</h3>
            <ul>
                <li>Email: juancabrera1293@gmail.com</li>
                <li>Teléfono: +57 3104080551</li>
                <li>Ubicación: Popayan, Colombia</li>
            </ul>
            <hr>
            <h3>Experiencia Profesional</h3>
            <h4>Desarrollador Web</h4>
            <p>Fundacion Universitaria De Popayan</p>
            <ul>
                <li>Desarrollo de aplicaciones</li>
                <li>Optimización del rendimiento del sitio web.</li>
                <li>Implementación de pruebas automatizadas.</li>
            </ul>
            <h4>Desarrollador Junior</h4>
            <ul>
                <li>Mantenimiento y actualización de sitios web existentes.</li>
                <li>Colaboración en el diseño de interfaces de usuario.</li>
                <li>Soporte técnico y resolución de problemas.</li>
            </ul>
            <hr>
            <h3>Educación</h3>
            <h4>Ingenieria De Sistemas</h4>
            <p>Fundacion Universitaria De Popayan</p>
            <hr>
            <h3>Habilidades</h3>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>Angular</li>
                <li>Node.js</li>
                <li>Git, GitHub</li>
                <li>Desarrollador</li>
            </ul>
        </div>
    </div>
</div>