<section class="avengers">
    <h2>Los Avengers</h2>
    <p>Los Avengers son un equipo de superhéroes que aparecen en los cómics de Marvel. El equipo fue creado por Stan Lee y Jack Kirby y debutó en el comic The Avengers #1 en 1963. A lo largo de los años, el equipo ha sufrido cambios y ha incluido a muchos
        personajes diferentes.</p>

    <div class="avenger-list">
        <h3>Los miembros originales:</h3>
        <ul>
            <li>Iron Man</li>
            <li>Thor</li>
            <li>Hulk</li>
            <li>Ant-Man</li>
            <li>Wasp</li>
        </ul>
    </div>

    <div class="avenger-list">
        <h3>Los miembros posteriores:</h3>
        <ul>
            <li>Captain America</li>
            <li>Black Widow</li>
            <li>Hawkeye</li>
            <li>Scarlet Witch</li>
            <li>Vision</li>
            <li>Black Panther</li>
            <li>Doctor Strange</li>
            <li>Spider-Man</li>
        </ul>
    </div>

    <div class="avenger-image">
        <img src="../../../../assets/img/AvengersI.jpg" width="1920" height="620" alt="Los Avengers">
    </div>
</section>